/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.navbar {
    background-color: none;
    
}

.backpic {
    /* The image used */
    min-height: 380px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
    width: 100%;
    top: -51px;
}

a {
    color: white;
    text-decoration: none;
    font-size: x-large;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    margin-right: 193px;
    margin-left: 0;
    margin-top: 0;
    
    
}
.navbar-nav > li > a {
    padding-top: 30%;
    padding-bottom: 15px;
}
.backpic {
    margin-left: 0px;
    margin-top: 0px;
}
.logo {
    padding-left: 92%;
    padding-top: -14%;
}
.navbar-nav > li > a {
    padding-top: 123px;
    padding-bottom: 15px;
    margin-right: 36px;
}
.jumbotron {
    background-image: url("../images/YouTubeSpaceMumbai-e1449154259324.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: -3%;
    padding-bottom: 20%;
 
}
/*h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 62px;
    margin-bottom: 152px;
}*/
    .jumbotron h1, .jumbotron .h1 {
        color: white;
        margin-left: 22%;
        margin-top: 11%;
    }
.btn-primary {
    margin-left: 44%;
    margin-top: 2%;
}
.po {
   margin-left: 20px;
    
}
.login {
    float: right;
}
.nav navbar-nav {
   margin:0 0;
}
